[submodule "Repos/seclists"]
	path = Repos/seclists
	url = https://github.com/danielmiessler/SecLists.git
[submodule "Repos/fuzz.txt"]
	path = Repos/fuzz.txt
	url = https://github.com/Bo0oM/fuzz.txt.git
[submodule "Repos/FuzzDB"]
	path = Repos/FuzzDB
	url = https://github.com/fuzzdb-project/fuzzdb.git
[submodule "Repos/PayloadATT"]
	path = Repos/PayloadATT
	url = https://github.com/swisskyrepo/PayloadsAllTheThings.git
[submodule "Repos/samlists"]
	path = Repos/samlists
	url = https://github.com/the-xentropy/samlists.git
[submodule "Tools/cook"]
	path = Tools/cook
	url = https://github.com/glitchedgitz/cook.git
[submodule "Tools/psudohash"]
	path = Tools/psudohash
	url = https://github.com/t3l3machus/psudohash.git
[submodule "Tools/cupp"]
	path = Tools/cupp
	url = https://github.com/Mebus/cupp.git
